.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__image {
  margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .header {
    margin-top: 28px;
    margin-left: 27px;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
  }
}
