.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  height: 330px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
}

.modal__content-preview {
  position: relative;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  border: none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__title {
  color: black;
  margin: 0 0 54px;
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  height: 14px;
}

.modal__input {
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 1);
  width: 100%;
}

.modal__line {
  margin-top: 13.26px;
  padding-bottom: 29.84px;
}

.modal__button {
  color: #fff;
  width: 358px;
  height: 51px;
  background-color: #000;
  text-align: center;
  font-family: "inter", sans-serif, arial;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  bottom: 36.51px;
  transition: opacity 0.5s ease-in-out;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__preview {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-description {
  font-size: 12px;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .modal__content {
    padding: 25px 22px;
    max-width: 282px;
    height: 322px;
    top: 123px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
    bottom: 25px;
    font-size: 14px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 30px);
  }

  .modal__heading {
    margin: 0 0 75px;
    font-size: 18px;
  }

  .modal__form-input {
    font-size: 14px;
  }
}
